<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wad</string>
				<string>pk3</string>
				<string>zip</string>
				<string>pk7</string>
				<string>7z</string>
				<string>iwad</string>
				<string>ipk3</string>
				<string>ipk7</string>
				<string>WAD</string>
				<string>IWAD</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Doom Resource File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoshisuga.genzd.data</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>zdoom.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GenZD</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2024.9.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>27</string>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.action-games</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_genzd._tcp.</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>GenZD requires access to the local network to connect to other devices for multiplayer sessions.</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>perfectdos437.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen.storyboard</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GenZD FIles</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.yoshisuga.genzd.data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wad</string>
					<string>pk3</string>
					<string>zip</string>
					<string>pk7</string>
					<string>iwad</string>
					<string>ipk3</string>
					<string>ipk7</string>
					<string>7z</string>
					<string>WAD</string>
					<string>IWAD</string>
					<string>IPK3</string>
					<string>PK3</string>
					<string>ZIP</string>
					<string>PK7</string>
					<string>7Z</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GenZD Files</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.yoshisuga.genzd.data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wad</string>
					<string>pk3</string>
					<string>zip</string>
					<string>pk7</string>
					<string>iwad</string>
					<string>ipk3</string>
					<string>ipk7</string>
					<string>7z</string>
					<string>WAD</string>
					<string>IWAD</string>
					<string>IPK3</string>
					<string>PK3</string>
					<string>ZIP</string>
					<string>PK7</string>
					<string>7Z</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
